@model Food.ViewModel.ManageMealViewModel


@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="alert-add-meal alert alert-success alert-dismissible unseen">

    <strong>Gratulacje!</strong> Udało Ci się dodać nowy posiłek do bazy.
</div>

<div class="alert-delete-meal alert alert-warning alert-dismissible unseen">

    Posiłek został skasowany.
</div>

@*<div class="alert alert-success alert-dismissible unseen">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Gratulacje!</strong> Udało Ci się dodać nowy posiłek do bazy.
</div>*@
<div class="main manage-meals-container" data-ingredients='@Html.Raw(Json.Serialize(Model.Ingredients))' data-meals='@Html.Raw(Json.Serialize(Model.Meals))'>

    <div class="title">Dodane przez Ciebie posiłki:</div>


    <div class="meals-other m-3">

    </div>

    <div class="meal-name-form unseen">

        <div class="m-3">
            <small class="form-text text-muted mb-1">Zmień istniejącą nazwę.</small>
            <input class="meal-name-input form-control w-50 mx-auto">

        </div>

        <div class="edit-meal-checkboxes">
            <div class="title-name">Składniki w wybranym posiłku:</div>
            @foreach (var ingredient in Model.Ingredients)
            {
                <label class="btn btn-sm btn-outline-info">
                    @ingredient.Name <input class="ingredients-checkboxes-edit-meal" type="checkbox" value="@ingredient.Id" />
                </label>

            }
        </div>

        <div class="m-3">
            <small class="form-text text-muted mb-1">Skoryguj istniejący przepis.</small>
            <textarea class="meal-recipe-input form-control w-50 mx-auto" placeholder="Nowy przepis"></textarea>
        </div>


        <button class="save-button but but-edit-save m-2"><span>Zapisz zmiany</span></button>
    </div>

    <div>
        <button class="edit-button but but-edit-meal m-2 unseen"><span>Edytuj posiłek</span></button>
        <button class="delete-button but but-delete m-2 unseen"><span>Usuń posiłek</span></button>
    </div>


    <div class="ingredients border-dark border-top m-4 pt-4">

        <div class="title">Stwórz nowy posiłek</div>

        <div class="m-4">
            <small class="form-text text-muted mb-1">Wpisz nazwę dla nowego posiłku.</small>
            <input class="input-field form-control w-50 mx-auto m-2" placeholder="Nazwa nowego posiłku">
        </div>

        <div>
            <small class="form-text text-muted mb-1">Wybierz składniki dla nowego posiłku spośród poszczególnych kategorii.</small>
            @foreach (var category in Model.Ingredients.GroupBy(ingredient => ingredient.CategoryId))
            {
                <div class="m-3">

                    <button class="but but-ingredient-family">@Model.IngredientCategories.FirstOrDefault(ic => ic.Id == category.Key)?.Name</button>

                    <div class="m-2 div-show-ingredients unseen">
                        @foreach (var ingredient in category.ToList())
                        {
                            <label class="btn btn-outline-primary">
                                @ingredient.Name <input class="ingredients-checkboxes" value="@ingredient.Id" type="checkbox">
                            </label>
                        }
                    </div>

                </div>
            }
        </div>

        @if (!Model.Ingredients.Any(ingredient => ingredient.CategoryId == 10)) //warunek do zmiany
        {
            <div class="m-3">

                <button class="but but-ingredient-family">@Model.IngredientCategories.FirstOrDefault(ic => ic.Id == 10).Name</button>

                <div class="div-show-ingredients-other m-2 unseen">

                </div>

            </div>
        }

        <div class="m-4">
            <small class="form-text text-muted mb-1">Wpisz przepis dla nowego posiłku nie używając klawisza Enter.</small>
            <textarea class="input-meal-recipe-field form-control w-50 mx-auto m-2" rows="5" placeholder="Przepis na nowy posiłek"></textarea>
        </div>

        <small class="form-text register-form-info registerAndLogin-form-info"></small>

        <button class="add-button but but-add-or-search"><span>Dodaj posiłek</span></button>

    </div>

</div>
    