@model Food.ViewModel.SearchMealViewModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="main search-meal-container" data-ingredients='@Html.Raw(Json.Serialize(Model.Ingredients))'>

    <div class="title">Co masz w lodówce? Wybierz składniki z których chcesz skomponować posiłek.</div>

    <div class="ingredients">

        @foreach (var category in Model.Ingredients.GroupBy(ingredient => ingredient.CategoryId))
        {
            <div class="m-3">

                <button class="but but-ingredient-family">@Model.IngredientCategories.FirstOrDefault(ic => ic.Id == category.Key)?.Name</button>

                <div class="m-2">
                    @foreach (var ingredient in category.ToList())
                    {
                        <label class="btn btn-outline-primary">
                            @ingredient.Name <input value="@ingredient.Id" type="checkbox">
                        </label>
                    }
                </div>

            </div>
        }

        @if (!Model.Ingredients.Any(ingredient => ingredient.CategoryId == 9)) //warunek do zmiany
        {
            <div class="m-3">

                <button class="but but-ingredient-family">@Model.IngredientCategories.FirstOrDefault(ic => ic.Id == 9).Name</button>

                <div class="div-show-ingredients-other m-2">a
                </div>

            </div>
        }

    <div>
        <button class="search-button but but-add-or-search m-2"><span>Komponuj posiłki :)</span></button>
    </div>

    </div>

    <div class="meal-result-container">

    </div>

</div>
