@model Food.Data.Models.User

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="alert-edit-user alert alert-warning alert-dismissible unseen">

    Dane użytkownika zostały zmienione.
</div>

<div class="main" data-user='@Html.Raw(Json.Serialize(Model))'>

    <div class="title">Edytuj dane użytkownika @Model.Name</div>

    <div class="m-4">
        <small class="form-text text-muted mb-1 actualUsername">Edytuj nazwę użytkownika (dotychczasowa nazwa: @Model.Name)</small>
        <input class="input-field-username form-control w-25 mx-auto m-2" placeholder="Nowa nazwa użytkownika">
        <small class="form-text username-edit-info registerAndLogin-form-info"></small>
        <button class="edit-button-username but but-edit-meal m-2"><span>Zmień nazwę</span></button>
    </div>

    <div class="m-4">
        <small class="form-text text-muted mb-1 actualEmail">Edytuj email użytkownika (dotychczasowy email: @Model.Email)</small>
        <input class="input-field-email form-control w-25 mx-auto m-2" placeholder="Nowy email użytkownika">
        <small class="form-text email-edit-info registerAndLogin-form-info"></small>
        <button class="edit-button-email but but-edit-meal m-2"><span>Zmień email</span></button>
    </div>

    <div class="m-4">
        <small class="form-text text-muted mb-1">Edytuj hasło.</small>
        <div class="input-group w-25 mx-auto m-2">
            <input class="input-field-password form-control " type="password" placeholder="Nowe hasło">
            <button class="show-password-button border-left-0 border" type="button"><i class="fas fa-eye"></i></button>
        </div>
        <div class="input-group w-25 mx-auto m-2">
            <input class="input-field-password-confirmation form-control" type="password" placeholder="Potwierdź hasło">
            <button class="show-confirm-password-button border-left-0 border" type="button"><i class="fas fa-eye"></i></button>
        </div>
        <small class="form-text password-edit-info registerAndLogin-form-info"></small>
        <button class="edit-button-password but but-edit-meal m-2"><span>Zmień hasło</span></button>
    </div>

</div>

<script>
    const alertEditUser = document.querySelector('.alert-edit-user');

    const newUsername = document.querySelector('.input-field-username');
    const editButtonUsername = document.querySelector('.edit-button-username');
    const editUsernameInfo = document.querySelector('.username-edit-info');

    const editEmailInput = document.querySelector('.input-field-email');
    const editButtonEmail = document.querySelector('.edit-button-email');
    const editEmailInfo = document.querySelector('.email-edit-info');

    const editPasswordInput = document.querySelector('.input-field-password');
    const editPasswordShowButton = document.querySelector('.show-password-button');
    const editPasswordConfirmationInput = document.querySelector('.input-field-password-confirmation');
    const editPasswordConfirmationShowButton = document.querySelector('.show-confirm-password-button');
    const editButtonPassword = document.querySelector('.edit-button-password');
    const editPasswordInfo = document.querySelector('.password-edit-info');

    const userId = parseInt(window.localStorage.getItem("userId"));
    const dataUser = document.querySelector('.main');

    bindEvents();

    function bindEvents() {

        editPasswordShowButton.onclick = () => {
            showHidePassword(editPasswordInput);
        }

        editPasswordConfirmationShowButton.onclick = () => {
            showHidePassword(editPasswordConfirmationInput);
        }

        editButtonUsername.onclick = () => {
            hideInfos();
            editUsername();
        }

        editButtonEmail.onclick = () => {
            hideInfos();
            editEmail();
        }

        editButtonPassword.onclick = () => {
            hideInfos();
            editPassword();
        }
    }


    function editUsername() {

        const user = {
            id: parseInt(window.localStorage.getItem("userId")),
            name: newUsername.value

            @*isActive: '@Model.IsActive' == 'True'*@
            //isActive: dataUser.dataset.user.isActive

        }

        fetch(`/ManageUser/UpdateUsername?id=${user.id}&username=${user.name}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        })
            .then(response => response.json())
            .then(editErrors => {
                if (editErrors == 0) {
                    alertEditUser.classList.remove('unseen');
                    newUsername.value = "";
                }
                else if (editErrors == 1) {
                    editUsernameInfo.innerHTML = "Nazwa użytkownika musi zawierać minimum jedną literę";
                }

                else if (editErrors == 2) {
                    editUsernameInfo.innerHTML = "Nie zmieniłeś nazwy użytkownika.";
                }
                else if (editErrors == 3) {
                    editUsernameInfo.innerHTML = "Taka nazwa użytkownika jest już zajęta.";
                }
                getUser();
            })
    }

    function editEmail() {

        const user = {
            id: parseInt(window.localStorage.getItem("userId")),
            email: editEmailInput.value
        }

    fetch(`/ManageUser/UpdateUserEmail?id=${user.id}&email=${user.email}`, {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(user)
    })
        .then(response => response.json())
        .then(editErrors => {
            if (editErrors == 0) {
                alertEditUser.classList.remove('unseen');
                editEmailInput.value = "";
            }
            else if (editErrors == 1) {
                editEmailInfo.innerHTML = "Wpisz adres email.";
            }
            else if (editErrors == 2) {
                editEmailInfo.innerHTML = "Adres email jest taki sam jak ostatnio.";
            }
            else if (editErrors == 3) {
                editEmailInfo.innerHTML = "Użytkownik o takim adresie email już istnieje.";
            }
            getUser();
        })
    }

    function editPassword() {
        const newPassword = editPasswordInput.value;
        const newPasswordConfirmation = editPasswordConfirmationInput.value;

        if (newPassword === newPasswordConfirmation) {

            const user = {
                id: parseInt(window.localStorage.getItem("userId")),
                password: newPassword
            };

            fetch(`/ManageUser/UpdateUserPassword?id=${user.id}&password=${user.password}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            })
                .then(response => response.json())
                .then(editErrors => {
                    if (editErrors == 0) {
                        alertEditUser.classList.remove('unseen');
                    }
                    else if (editErrors == 1) {
                        editPasswordInfo.innerHTML = "Hasło musi zawierać co najmniej 5 znaków w tym jedną cyfrę.";
                    }
                })
        }
        else
            editPasswordInfo.innerHTML = "Hasła w obu polach nie pokrywają się. Sprawdź, czy dokładnie powtórzyłeś hasło.";

    }

    function getUser() {
        fetch(`/ManageUser/GetUser?userId=${userId}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(user => {
                const title = document.querySelector('.title');
                const actualName = document.querySelector('.actualUsername');
                const actualEmail = document.querySelector('.actualEmail');

                title.innerHTML = `Edytuj dane użytkownika ${user.name}`;
                actualName.innerHTML = `Edytuj nazwę użytkownika (dotychczasowa nazwa: ${user.name})`;
                actualEmail.innerHTML = `Edytuj email użytkownika (dotychczasowy email: ${user.email})`;
            })
    }

    function showHidePassword(passwordInput) {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        }
        else
            passwordInput.type = "password";
    }

    function hideInfos() {
        alertEditUser.classList.add('unseen');
        editUsernameInfo.innerHTML = "";
        editPasswordInfo.innerHTML = "";
    }

</script>
