<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script nonce="@Context.Items["CspNonce"]" src="~/lib/jquery/jquery.js"></script>
    <script nonce="@Context.Items["CspNonce"]" src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script nonce="@Context.Items["CspNonce"]" src="https://kit.fontawesome.com/25f3c80a83.js" crossorigin="anonymous"></script>
    <script nonce="@Context.Items["CspNonce"]" src="~/js/main.js" defer></script>
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
    <title>Food</title>
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body>


    <header>
        <div class="header" style="font-family: 'Allura';">
            <i class="icon-money"></i><b>Asystent 13484546</b>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
